{% extends "layout.html" %} {% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary mb-3 text-white" style="max-width: 18rem;">
                    <div class="card-header">Food Dispenser Fill Status</div>
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped {{fill_status_progress_class}}" role="progressbar" style="width: {{device_info[1]}}%"
                                aria-valuenow="{{device_info[1]}}" aria-valuemin="0" aria-valuemax="100">{{device_info[1]}}</div>
                        </div>
                        <p></p>
                        <p class="card-text text-center">available capacity</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-primary mb-3 text-white" style="max-width: 18rem;">
                    <div class="card-header">In Operation</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{device_info[0]}}</h5>
                        <p class="card-text text-center">indicates current state</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-primary mb-3 text-white" style="max-width: 18rem;">
                    <div class="card-header">Temperature</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{device_info[2]}}° C</h5>
                        <p class="card-text text-center">(inside the dispenser)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-primary mb-3 text-white" style="max-width: 18rem;">
                    <div class="card-header">Humidity</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{device_info[3]}} %</h5>
                        <p class="card-text text-center">(inside the dispenser)</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <form action="/feed" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="feederNameInput">Your Name</label>
                <input name="feederNameInput" type="text" class="form-control" id="feederNameInput" placeholder="What's your name?" required>
                <div class="invalid-feedback">
                    Please provide your name.
                </div>
            </div>
            <div class="form-group">
                <label for="amountOfFoodInput">Amount of Food (g)</label>
                <input name="amountOfFoodInput" type="number" class="form-control" id="amountOfFoodInput" placeholder="How many grams do you want to feed?"
                    max="200" required>
                <div class="invalid-feedback">
                    Please provide an appropriate amount of food. The total amount is 200g
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Start feeding</button>
        </form>
    </div>
</div>
{% if add_food_result %} {% if add_food_result == "success"%}
<div class="p-3 mb-2 bg-success text-white"> Successfully feeded {{ amount_of_food_input }} g as User {{ feeder_name_input }}</div>
{% else %}
<div class="p-3 mb-2 bg-danger text-white">Error: {{add_food_result}}</div>
{% endif %} {% endif %}

<div class="row">
    <div class="col-md-4">
        <canvas id="dailyFeedChart" width="400" height="120"></canvas>
    </div>
    <div class="col-md-8">
        <canvas id="chart1" height="120"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Amount (g)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for item in feed_history %}
                <tr>
                    <th scope="row">{{ item["Id"] }}</th>
                    <td>{{ item["NameOfServer"] }}</td>
                    <td>{{ item["FoodServed"] }}</td>
                    <td>{{ item["Timestamp"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<div class="row justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% for n in range(pages) %}
        <li class="page-item">
            <a class="page-link" href="?page={{loop.index}}">{{loop.index}}</a>
        </li>
        {%endfor%}
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    // For a pie chart
    var ctx = document.getElementById("dailyFeedChart").getContext('2d');
    var feed_limit = {{ feed_limit| safe}}
    var food_served_today = {{ food_served_today| safe}}
    var left_food_to_serve = feed_limit - food_served_today
    data = {
        datasets: [{
            data: [left_food_to_serve, food_served_today],
            backgroundColor: ["#28a745", "#6c757d"]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Left',
            'Eaten'
        ],
    };

    options = {
        title: {
            display: true,
            text: 'Total daily food to feed in grams: ' + feed_limit
        },
        responsive: true,
        maintainAspectRatio: false
    }

    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });

    var daily_feed_history = {{ daily_feed_history| safe}}
    console.log(daily_feed_history)

    var feedHistoryLabels = daily_feed_history.map(function (e) {
        return e[1];
    });
    var feedHistoryData = daily_feed_history.map(function (e) {
        return e[0];
    });;

    console.log(feedHistoryData)
    console.log(feedHistoryLabels)
    var ctx = document.getElementById("chart1").getContext("2d");
    var cfg = {
        type: 'line',
        data: {
            labels: feedHistoryLabels,
            datasets: [{
                label: "Food Served (g)",
                data: feedHistoryData,
                type: 'line',
                pointRadius: 6,
                fill: true,
                borderWidth: 2
            }]
        }
    };
    var chart = new Chart(ctx, cfg);


</script> {% endblock %}